
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Fixed top navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    {% include 'newsletter/add_static_css.html' %}

    {% block head_static %}
      
    {% endblock head_static %}
   
  </head>

  <body>
{% include 'newsletter/navbar.html' %}
    
<div class="cointer-fluid">

    {% block content %}

    

    {% endblock content %}


</div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    {% include 'newsletter/add_static_js.html' %}
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>
        
        


    </form>
</body>
</html>